
.header{
    display:flex;
    flex-direction: column;
    background-color: #1F2973;
}
.logoandlink{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 32px;
    padding-left: 108px;
    padding-right:108px;
}
.headerlinks{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #E5E7EB;
    align-items: center;
}
a:link,
.subtext{
    display: flex;
    list-style-type: none;
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    flex-wrap: wrap;
}
.maintext{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 108px;
    padding-bottom: 108px;
}
.button,
.calltoaction{
    background-color: #3882F6;
    color: white;
}
.textandimg{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.notfound {
    width:100px;
    height:100px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0; 
  }
  .info{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .cards{
      display: flex;
      flex-direction: row;
      gap: 24px;
  }
  .card{
      padding: 24px;
      border-style: solid; 
      border-width: thin; 
      border-color: blue;
  }
  .info{
      padding-top: 52px;
      padding-bottom: 52px;
  }
  .testimony{
      background-color: #E5E7EB;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-left: 116px;
      padding-right: 116px;
  }
  
  .quote{
      font-size: 36px;
      font-style: italic;
      

  }
  .calltoaction{
      margin: 108px;
      display: flex;
      padding:32px;
      gap:64px;
  }
  .instructions{
      font-size: 12px;
  }
  .button2{ 
        border-color: #ff9800;
        color: orange;
      
  }